# Ignorar arquivos da virtualenv
venv/

# Ignorar checkpoints do Jupyter Notebook
.ipynb_checkpoints/

#Ignorar os arquivos dentro de processed_data/
data/processed_data/*
!data/processed_data/.gitkeep
